# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://postgres:O3vEE5lYsSSFQq8G@db.kxxboywuaapxcgmsznsc.supabase.co:5432/postgres"
DATABASE_URL="postgres://postgres.ttisttbdaypyiimfluet:BP3RygruCABKtkwX@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
NODE_ENV=development
PORT=6060
BYCRYPT_SALT_ROUNDS = 10
JWT_SECRET = UPIOGUGGIFGJHDIHYHHFG
JWT_REFRESH_SECRET = GIDFYHIOGYFDIOGHFD
JWT_EXPIRES_IN = 365d
JWT_REFRESH_EXPIRES_IN = 365d
CLOUDINARY_NAME=dgcfridhb
CLOUDINARY_API_KEY=941747115396661
CLOUDINARY_API_SECRET=xVgPxpLeVRRaimWAqaZzzbqXodc
